div.kc-logo-text {
    background-image: url(../img/medirad-kheops-logo-text.png);
    height: 130px;
    width: 920px;
}

@media (max-width: 767px) {

    div.kc-logo-text {
        background-image: url(../img/medirad-kheops-logo.png);
        width: 150px;
        height: 62px;
    }
}
